.slides {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    right: 15px !important;
  }
  .slick-prev:before {
    color: black;
    right: 20% !important;
  }
  .slick-next:before {
    color: black;
  }
}
.size {
  width: 100%;
  height: 100%;
}
